*{
    --articleColor: rgba(31, 48, 103, 0.653);
    overflow-y:auto;
    font-family:sefir;
    overflow-x:hidden;
}

   
.container{
    padding:0 250px;
     /*
    
    
    margin-top:30px
    */
}


#mainHeader{
    background-color:black;
    text-align:center;
    padding:30px;
    color: lightblue;
    text-shadow: 1px 1px 2px black, 0 0 25px, 0 0 5px darkblue;
}

#mainNavigator{
    word-spacing:0.5em;
    margin: 12px 0
}

.button{
    background-color:darkslategray;
    color:white;
    padding:10px 15px;
    border:none;
    border-radius:10px;
}

.button:hover{
    background-color: gray;
}
    
.clr{
    clear:both;
}

.blogPost{
    border:2px solid var(--articleColor);
    padding: 15px;
    margin-bottom: 25px;
    
}

.blogPost:hover{
    background-color: lightcyan;
    cursor: pointer;
    box-shadow: 5px 5px 20px var(--articleColor);
}

.blogPost p{
    font-size:16px;
}

.blogPost a{
    text-decoration:none;
}

.publisertDato{
    padding-bottom:50px;    
}
.textAndImg{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2;
    align-items: center;
    justify-content: left;
    /* yay */ 
}

.ImgContainer {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    height: 175px;
    width: 175px;
}
.textAndImg p {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    margin-left: 2%;
}
.textAndImg img{
    height:100%;  
    width:100%;
}

.myForm .formGroup{
    padding-bottom:20px;
}

.myForm label{
    display:block;
    margin-bottom:2px;

}

.myForm input[type="text"], .myForm textarea{
    width:98%;
    padding: 5px 0px;
}

.myForm textarea{
    padding: 40px 0px;
}

.blockItem{
    float:left;
    margin-top: 20px;
    width:33.3333%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
    margin-bottom:50px;

}

/*
.block{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.blockItem{
    border: 1px solid #ccc;
    text-align:center
}

*/

#mainBlock{
    float:left;
    width:70%;
    padding:15px;
    box-sizing:border-box;
}

#sidebar{
    float:right;
    width:30%;
    background-color: #333;
    color:#fff;
    padding:15px;
    box-sizing:border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin-top:30px;
    position:relative;
    background-image:url(pictures/hawaii.png);
    background-repeat:no-repeat;
    background-position:center center;
}

.p-box h1{
    position:absolute;
    top:100px;
    right:200px;
}

.p-box h2{
    position:absolute;
    bottom:300px;
    left:125px;
}

.fix-me{
    position:fixed;
    top:175px;
    left:80px;
}
#mainFooter{
    text-align:center;
    border-top:1px dashed gray;
    width:300px;   
    margin:auto;   
}
